// color
$c-text: #111111;
$c-primary: #88B999;
$c-secondary: #182F20;
$c-tertiary: #EBC110;
$c-bg: #F5F5F5;

// font
$ff-base: "Arial", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Yu Gothic", "Meiryo", sans-serif;
// $ff-base: 'Noto Sans JP', "Arial", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Yu Gothic", "Meiryo", sans-serif;
$ff-jp: 'Noto Sans JP', sans-serif;
$fw-base: 400;
$fz-base: 16px;
$linehight: calc(22 / 16);

// レイアウト
$inner-width: 1040px; // インナー幅サイズ
$inner-padding: 20px;
$inner-padding-pc: 40px;
$sp-width: 767px; // スマホサイズ

// ブレークポイント
$breakpoints: (
  "sp": "screen and (max-width: #{$sp-width})",
  // タブレット: 768px以上
  "tab": "screen and (min-width: #{$sp-width + 1})",
  // PC : 1040px以上
  "pc": "screen and (min-width: #{$inner-width})"
);

// 重なり順の定義
$layer: (
  // ローディング
  loading: 300,
  // モーダル
  modal: 100,
  // ドロワー
  drawer: 40,
  // logo
  logo: 50,
  // ドロワーアイコン
  drawer-icon: 50,
  // フローティング
  floating: 30,
  // ヘッダー
  header: 400,
  // フッター
  footer: 10,
  default: 1
);