@use '../global' as g;

.l-inner {
  max-width: g.$inner-width;
  max-width: calc(g.$inner-width + (g.$inner-padding-pc * 2));
  width: 100%;
  margin: auto;
  padding-left: g.$inner-padding;
  padding-right: g.$inner-padding;
  // box-sizing: content-box;

  @include g.mq(tab) {
    padding-left: g.$inner-padding-pc;
    padding-right: g.$inner-padding-pc;
  }
}