@use '../global' as g;

.p-contact-form {
  select {}

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea,
  select {
    background: #F0F0F0;
    @include g.font(15, 21, 400);
    letter-spacing: .15em;
    padding: 21px 24px 22px;

    &::placeholder {
      @include g.font(15, 21, 400);
      letter-spacing: .15em;
    }
  }

  select {
    cursor: pointer;
  }
}

.p-contact-form__body {
  margin-top: 64px;
}

.p-contact-form__row {

  &+& {
    margin-top: 48px;
  }

  @include g.mq(tab) {
    display: flex;
    // align-items: center;
  }
}

.p-contact-form__dt {
  flex: 0 0 225px;
}

.p-contact-form__label {
  @include g.font(15, 21, 400);
  letter-spacing: .15em;

}

.p-contact-form__dd {
  flex: 0 1 555px;

  @include g.mq(sp) {
    margin-top: 17px;
  }

  &--half {
    max-width: 220px;

    @include g.mq(tab) {
      max-width: 230px;
    }
  }

  &--select {
    @include g.mq(tab) {
      max-width: 230px;
    }
  }
}

// radio
.p-contact-form__dd--radio {
  display: flex;
  gap: 32px;


  @include g.mq(tab) {
    gap: 40px;
  }
}

.p-contact-form__radio {
  // opacity: 0;
  position: absolute;
  z-index: -1;

  +span {
    cursor: pointer;
    display: inline-block;
    padding: 0 0 0 40px;
    position: relative;
    // margin-left: -28px;

    &::before,
    &::after {
      content: "";
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &::before {
      // ラジオボタン外枠
      background: #fff;
      border: 2px solid #B4B4B4;
      display: block;
      left: 0;
      width: 24px;
      height: 24px;

      @include g.mq(tab) {
        width: 30px;
        height: 30px;
      }
    }

    &::after {
      // ラジオボタン内側
      background: g.$c-primary;
      border: 1px solid transparent;
      left: 4px;
      width: 16px;
      height: 16px;
      transition: opacity 0.3s ease 0s;
      opacity: 0;

      @include g.mq(tab) {
        width: 20px;
        height: 20px;
        left: 5;
      }
    }
  }

  &:checked {
    +span {
      &::after {
        opacity: 1;
      }
    }
  }

  &:hover,
  &:focus-visible {
    +span {
      &::before {
        box-shadow: 0 0 4px #004AA1;
      }
    }
  }
}


// checkbox
.p-contact-form__check {
  text-align: center;
  margin-top: 33px;
  
  @include g.mq(tab) {
    margin-top: 48px;
  }
}

// button
.p-contact-form__button {
  margin-top: 34px;

  @include g.mq(tab) {
    margin-top: 50px;
  }
}