@use '../global' as g;

.p-contact-situation {

}

.p-contact-situation__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;

}

.p-contact-situation__item {
  background: #F0F0F0;
  text-align: center;
  color: #B4B4B4;
  padding: 12px 12px 13px;

  &--current {
    background: #88B999;
    color: #fff;
  }
}