@use '../global' as g;

.p-drawer-icon {
  position: fixed;
  top: 23px;
  right: 23px;
  z-index: #{map-get(g.$layer, drawer-icon)};
  display: block;
  height: 24px;
  width: 30px;

  @include g.mq(pc) {
    display: none;
  }
}

.p-drawer-btn__inline {
  width: 22.5px;
  height: 2px;
  background: #000;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &::after,
  &::before {
    content: '';
    height: 2px;
    background: #000;
    display: block;
    position: absolute;
    transition: .3s;
  }

  &::before {
    width: 30px;
    top: -10.5px;
  }

  &::after {
    width: 30px;
    bottom: -10.5px;
    transform: scale(0.5, 1);
    transform-origin: left;
  }
}

// is-open
.p-drawer-btn {
  &.is-open {
    .p-drawer-btn__inline {
      background: 0;

      &::before {
        transform-origin: left;
        transform: rotate(45deg);
      }

      &::after {
        transform: scale(1, 1);
        transform: rotate(-45deg);
        transform-origin: left;
      }
    }
  }
}