@use '../global' as g;

.p-global-nav {
}

.p-global-nav__list {
  display: flex;
  gap: 40px;
}

.p-global-nav__item {

}

.p-global-nav__link {
  text-transform: uppercase;
  letter-spacing: .15em;

  
}