@use '../global' as g;

.p-home-recruit {
  background: #DAD2C6;
  padding-top: 140px;
  padding-bottom: 147px;
  position: relative;
  overflow: hidden;

  .p-home-recruit__body {

    @include g.mq(tab) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &.p-sect-body {
      max-width: 100%;
    }

    .p-sect-body__link {
      grid-area: 2 / 2 / 3 / 3;
      z-index: 2;
    }
  }
}

.p-home-recruit__copy {
  @include g.font(180, 201, 700);
  position: absolute;
  bottom: -15px;
  text-stroke: 1px #fff;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  text-transform: uppercase;
  text-wrap: nowrap;
}

