@use '../global' as g;

.p-home-news {
  padding-top: 140px;
  padding-bottom: 112px;
  // background: #fff;
}

.p-home-news__contents {
  margin-top: 28px;
  max-width: 690px;
  margin: auto;


  @include g.mq(tab) {
    margin-top: 41px;
  }
}

.p-home-news__link {
  margin-top: 32px;

  .c-btn-more {
    margin-left: auto;
  }

  @include g.mq(tab) {
    margin-top: 40px;
  }
}