@use '../global' as g;

.p-home-parallax-movie {
  height: 245px;

  @include g.mq(tab) {
    height: 435px;
  }

  video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -200;
    width: 100%;
    height: 100vh;
  }
}