@use '../global' as g;

.p-home-about {
  overflow: hidden;
  background: #fff;
  position: relative;
  z-index: 1;

  @include g.mq(tab) {
    padding-top: 141px;
    padding-bottom: 272px;
  }
}

.p-home-about__inner {
  position: relative;
  @include g.mq(tab) {
    display: flex;
    // gap: calc(80px / g.$inner-width * 100%);
    gap: 80px;
    justify-content: space-between;
  }
}

.p-home-about__img {
  // width: 100%;
  position: relative;
  // z-index: 3;
  
  img {

    @include g.mq(sp) {
      height: 274px;
    }

    @include g.mq(tab) {
      
    }
  }

  @include g.mq(sp) {
    margin-right: -20px;
    margin-left: -20px;
  }

  @include g.mq(tab) {
    flex: 0 1 600px;
    // max-width: 600px;
    margin-left: -40px;
  }
}

.p-home-about__body {
  position: relative;
  padding-bottom: 40px;
  // z-index: 2;

  @include g.mq(sp) {
    padding-top: 64px;
  }
}

.p-home-about__bg {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: -20px;
  background: g.$c-bg;
  z-index: -1;
  
  @include g.mq(tab) {
    top: -141px;
    left: -160px;
    height: 534px;
  }
}