@use '../global' as g;

.p-home-service-business {
  margin-top: 40px;
  position: relative;
  z-index: 2;

  @include g.mq(tab) {
    margin-top: 0;
  }
}

.p-home-service-business__list {
  padding-top: 40px;
  padding-bottom: 40px;

  @include g.mq(tab) {
    padding-top: 12px;
    padding-bottom: 80px;
  }
}

.p-home-service-business__item {
  position: relative;

  &+& {
    margin-top: 40px;
  }
}

.p-home-service-business__img {
  // position: absolute;
  position: relative;
  z-index: -1;

  img {
    aspect-ratio: 350 / 280;

    @include g.mq(tab) {
      width: 480px;
      height: 425px;
    }
  }
}

.p-home-service-business__title {
  @include g.font(28, 31, 700);
  position: absolute;
  top: 32px;
  left: 20px;

  span {
    @include g.font(13, 17, 500);
    letter-spacing: .15em;
    margin-top: 7px;
    display: block;
    font-family: g.$ff-jp;
  }

  @include g.mq(tab) {
    @include g.font(36, 41, 700);
    top: 314px;
    left: -40px;

    span {
      @include g.font(16, 21, 500);
      margin-top: 8px;
    }
  }
}

.p-home-service-business__link {
  width: 185px;
  height: 80px;
  background: g.$c-primary;
  display: grid;
  place-items: center;
  position: absolute;
  bottom: 0;
  right: 0;

  @include g.mq(tab) {
    width: 230px;
    height: 120px;
  }
}

// ボタン背景色
.p-home-service-business__item {
  &:nth-child(2) {
    .p-home-service-business__link {
      background: g.$c-tertiary;
    }
  }

  &:nth-of-type(3) {
    .p-home-service-business__link {
      background: g.$c-secondary;
    }
  }
}

.p-home-service-business__bg {
  background: g.$c-bg;
  position: absolute;
  z-index: -2;


  @include g.mq(tab) {
    top: 124px;
    left: -80px;
    // margin-right: calc(50% - 50vw);
    height: 100%;
    width: calc(50vw + 60px);
  }
}