@use '../global' as g;

.p-home-service {
  padding-top: 72px;
  padding-bottom: 122px;
  background: #fff;

  @include g.mq(tab) {
    padding-top: 260px;
  }
}

.p-home-service__inner {
  @include g.mq(tab) {
    display: flex;
    justify-content: space-between;
  }
}

.p-home-service__container {
  // position: relative;
  padding-bottom: 80px;
}

.p-home-service__body {
  @include g.mq(tab) {
    margin-right: 80px;
    position: sticky;
    top: 40px;
  }
}

.p-home-service__slider {
  margin-top: 112px;
}