@use '../global' as g;

.p-kv {
  background: #fff;

  overflow: hidden;

  .l-inner {
    max-width: calc(100% - (50% - (1120px / 2)));
    width: calc(100% - 80px);
    margin-right: 0;
    margin-left: auto;
    padding-right: 0;
  }
}

.p-kv__catch-copy {}

.p-kv__lead {}

.p-kv__text {}

.p-kv__slider {
  // position: absolute;
  // top: 0;
  // left: 50%;
  // // left: calc();
  // left: 0;
  // // margin-right: calc((50vw - 100%) * -1);
  overflow: visible !important;
}

.p-kv__swiper {
  height: 100vh;
  // padding-left: 180px;
  // overflow: visible !important;
}

.swiper-slide {
  
}

.p-kv__business {
  color: g.$c-primary;
  @include g.font(32, 36, 700);
  position: absolute;
  top: 270px;
  opacity: .7;
 

  @include g.mq(tab) {
    @include g.font(80, 89, 700);
    top: 337px;
  }

  &--civil {
    color: g.$c-tertiary;
  }
  
  &--hosing {
    color: g.$c-secondary;
  }
}

.p-kv__img {
  height: 100vh;
  z-index: -1;
  padding-left: 180px;

  img {
    width: 100%;
    height: 100%;
  }
}

.p-kv__scrolldown {
  position: absolute;
  bottom: 0;
  right: 80px;
  height: 200px;
  width: 2px;
  background: #fff;
}