@use '../global' as g;

.p-kv {
  background: #fff;
  position: relative;
  overflow: hidden;

  .l-inner {
    max-width: calc(100% - (50% - (1040px / 2)));
    width: calc(100% - 40px);
    margin-right: 0;
    margin-left: auto;
    padding-right: 0;
  }
}

.p-kv__catch-copy {}

.p-kv__lead {}

.p-kv__slider {
  // position: absolute;
  // top: 0;
  // left: 50%;
  // // left: calc();
  // left: 0;
  // // margin-right: calc((50vw - 100%) * -1);
  // overflow: visible !important;
}

.p-kv__swiper {
  height: 100vh;
  // padding-left: 180px;
  // overflow: visible !important;
}

.swiper-slide {}

.p-kv__business {
  color: g.$c-primary;
  @include g.font(32, 36, 700);
  position: absolute;
  z-index: 51;
  top: 270px;
  left: 0;
  opacity: .7;


  @include g.mq(tab) {
    @include g.font(80, 89, 700);
    top: 337px;
  }

  &--civil {
    color: g.$c-tertiary;
  }

  &--hosing {
    color: g.$c-secondary;
  }
}

.p-kv__img {
  overflow: hidden;
}

.swiper-slide-active .p-kv__img ,
.swiper-slide-duplicate-active .p-kv__img ,
.swiper-slide-prev .p-kv__img
  {
  img {
    animation: zoom-in 10s linear 0s 1 normal both;
  }
}

.p-kv__scrolldown {
  position: absolute;
  bottom: 0;
  right: 80px;
  height: 200px;
  width: 2px;
  background: #fff;
  z-index: 10;
}

@keyframes zoom-in {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}