@use '../global' as g;

.p-loading {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: #{map-get(g.$layer, loading)};
  display: grid;
  place-items: center;
}

.p-loading__logo {
  position: absolute;

  // img {
  //   width: 140px;

  // }
}

.p-loading__bg-white {
  background: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}