@use '../global' as g;

.p-lower-kv {
  overflow: hidden;
}

.p-lower-kv__inner {
  position: relative;
  
  @include g.mq(tab) {
    padding-top: 400px;
    padding-bottom: 109px;
    // margin-right: calc(50% - 50vw);
  }
}

.p-lower-kv__ttl {

}

.p-lower-kv__hero {
  position: absolute;
  top: 0;
  left: 180px;
  z-index: -1;
  // margin-right: calc(50% - 50vw);
  height: 100%;
  width: calc(50vw + (380 / 1040 * 100%));

  img {
    height: 100%;
  }
}