@use '../global' as g;

.p-news-detail {
  padding-bottom: 152px;
  padding-top: 214px;
  
  @include g.mq(tab) {
    padding-top: 214px;
  }
}

.p-news-detail__inner {
  &.l-inner {
    max-width: 960px;
  }
}

.p-news-detail__contents {
  
}

.p-news-detail__share {
  margin-top: 47px;

  @include g.mq(tab) {
    margin-top: 192px;
  }
}

.p-news-detail__btn {
  text-align: center;
  margin-top: 112px;

  @include g.mq(tab) {
    margin-top: 152px;
  }
}