@use '../global' as g;

.p-news-contents {}

.p-news-contents__list {}

.p-news-contents__item {
  border-bottom: 1px solid #CBCBCB;
  padding-bottom: 28px;

  &+& {
    margin-top: 32px;
  }

  @include g.mq(tab) {
    padding-bottom: 40px;
  }
}

.p-news-contents__link {
  transition: .3s all ease;

  @include g.mq(tab) {
    display: flex;
    gap: 40px;
  }

  &:hover {
    color: g.$c-primary;
    transition: .3s all ease;
    
    .p-news-contents__label {
      color: g.$c-primary;
      border-color: g.$c-primary;
      transition: .3s all ease;
    }

    .p-news-contents__img {
      img {
        transform: scale(1.05);
        transition: .3s all ease;
      }
    }

    .p-news-contents__ttl {}
  }
}

.p-news-contents__img {
  overflow: hidden;

  @include g.mq(tab) {
    flex: 0 0 186px;
  }

  img {
    aspect-ratio: 350 / 200;
    transition: .3s all ease;

    @include g.mq(tab) {
      aspect-ratio: 186 / 142;
    }
  }
}

.p-news-contents__body {

  @include g.mq(sp) {
    margin-top: 28px;
  }
}

.p-news-contents__date {
  @include g.font(12, 14, 400);
}

.p-news-contents__label {
  display: inline-block;
  padding: 6px 20px 6px 12px;
  border: 1px solid #333;
  @include g.font(12, 16, 400);
  font-family: g.$ff-jp;
  margin-left: 24px;
  transition: .3s all ease;
}

.p-news-contents__ttl {
  @include g.font(14, 32, 500);
  margin-top: 16px;
}