@use '../global' as g;

.p-works-detail {
  margin-top: 206px;
  padding-bottom: 152px;

  @include g.mq(tab) {
    margin-top: 214px;
    padding-bottom: 200px;
  }
}

.p-works-detail__inner {
  
  @include g.mq(tab) {
    // display: flex;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr calc(720 / 1040 * 100%);
    gap: 40px;
  }
}

.p-works-detail__nav {
  display: none;

  @include g.mq(tab) {
    display: block;
    flex: 0 0 auto;
    height: 100%;
    // position: sticky;
    // top: 0;
  }
}

.p-works-detail__contents {

  @include g.mq(tab) {
    flex: 0 1 720px;
  }
}

.p-works-detail-contents__blocks {
  
}