@use '../global' as g;

.p-works-card {
  position: relative;
}

.p-works-card__link {
  &:hover {
    color: g.$c-primary;
    img {
      transform: scale(1.05);
      transition: .3s;
    }
  }
}

.p-works-card__label {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  &--housing {
    background: g.$c-secondary;
  }

  &--civil {
    background: g.$c-tertiary;
  }
}

.p-works-card__img {
  max-width: 320px;
  max-height: 240px;
  overflow: hidden;

  img {
    aspect-ratio: 320 / 240;
    transition: .3s;
  }
}

.p-works-card__caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  @include g.font(15, 20, 400);
}

.p-works-card__name {
  font-family: g.$ff-jp;
}

.p-works-card__date {}