@use '../global' as g;

.c-sect-ttl {
  position: relative;
  padding-left: 20px;
}

.c-sect-ttl__dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: g.$c-primary;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 0;

  @include g.mq(tab) {
    width: 10px;
    height: 10px;
    top: 12px;
  }

  animation: text_anime_on 1s ease-out forwards;
}

.c-sect-ttl__en {
  @include g.font(42, 47, 700);

  @include g.mq(tab) {
    @include g.font(64, 72, 700);
  }
}

.c-sect-ttl__jp {
  @include g.font(14, 20, 500);
  font-family: g.$ff-jp;
  display: block;
  color: g.$c-primary;
  letter-spacing: .15em;
  grid-column: 2 / 3;

  @include g.mq(tab) {
    @include g.font(16, 24, 500);
  }
}